<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Struk Pembelian</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <table border="2">
        <tr>
            <th>Nama sayur</th>
            <th>Harga Perkilo</th>
            <th>Jumlah Kilo</th>
            <th>Harga Awal</th>
            <th>Jumlah Diskon</th>
            <th>Total Harga Diskon</th>
            <th>Total bayar</th>
            <th>Uang bayar</th>
            <th>Uang kembali</th>
        </tr>
            <td th:text="${name}"></td>
            <td th:text="${price}"></td>
            <td th:text="${kilo}"></td>
            <td th:text="${total10}"></td>
            <td th:text="${disc}"></td>
            <td th:text="${hargadisc}"></td>
            <td th:text="${tbayar}"></td>
            <td th:text="${jumlah}"></td>
            <td th:text="${kembali}"></td>
            
        </tr>

    </table>
</html>
